@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comme:wght@300;400;700&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

body {
  font-family: "Comme", sans-serif;
}

h1 {
  font-family: "KoHo", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.1;
}

p {
  font-family: "Comme", sans-serif;
  font-size: 1rem;
}

button {
  font-family: "KoHo", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  background: none;
}

.welcome-container {
  display: flex;
  justify-content: center;
}

.welcome {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.introText {
  color: rgb(75, 213, 238);
  text-shadow: 0 0 0.5rem rgb(75, 213, 238);
  width: auto;
  padding-left: 1rem;
  margin: auto;
}

.welcome-button {
  text-decoration: none;
  color: rgb(241, 241, 241);
  padding: 8px;
  transition: 0.25s;
}

.welcome-button:hover {
  color: rgb(181, 248, 84);
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
  gap: 16px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(28, 38, 34);
  padding: 64px;
  border-radius: 4px;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.closeButton {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: currentColor;
  --svg: url("../assets/light-sabers.svg");
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  transition-duration: 0.4s;
  position: absolute;
  top: 16px;
  right: 16px;
}
.closeButton .closeButton:hover {
  background-color: rgb(181, 248, 84);
}

header {
  display: flex;
  align-items: center;
  position: relative;
}

.brand {
  max-height: 80px;
  margin: 24px auto 34px;
}

.userAuth {
  display: flex;
  gap: 1rem;
  position: absolute;
  right: 24px;
}

button.loginSignin {
  color: rgb(125, 130, 132);
  background: none;
  border: none;
  transition: 0.25s;
}

button.loginSignin:hover {
  color: rgb(181, 248, 84);
}

nav {
  display: flex;
  height: 38px;
  border-top: 1px solid rgb(125, 130, 132);
  border-bottom: 1px solid rgb(125, 130, 132);
  justify-content: center;
  gap: 1rem;
}

.navLink {
  position: relative;
  text-decoration: none;
  height: 38px;
  color: rgb(181, 183, 183);
  background: transparent;
}

.navLink::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 1px;
  transition: all 0.25s;
  box-shadow: 0px 0px 4px 1px rgb(181, 248, 84);
  opacity: 0;
}

.navLink:hover::after {
  opacity: 1;
}

/* .menuItems {
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 2px;
  border: 1px solid;
}

.menuItems {
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 2px;
  border: 1px solid;
}

.inputValues {
  background-color: base.$light-color;
  border-radius: 2px;
  border: none;
  line-height: 32px;
  padding: 0 16px;
  transition: border-color 0.3s ease;
}

.error:focus {
  border-color: base.$danger-color;
}
 */
.loading {
  color: rgb(181, 248, 84);
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin: 8px;
  gap: 8px;
  align-content: flex-start;
}

.shipCards {
  border-radius: 4px;
  background-color: rgb(28, 38, 34);
  display: flex;
  flex-direction: column;
  width: calc(49% - 8px);
  margin: auto;
  padding: 8px;
  align-content: flex-start;
}

article {
  display: flex;
  flex-direction: column;
}

.shipInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.shipName {
  color: rgb(125, 130, 132);
  font-weight: 700;
}

.shipModel {
  color: rgb(75, 213, 238);
}

button {
  border: none;
}

/* button {
  color: base.$secondary-color;
  border: none;
  border-top: none;
  border-right: 1px solid base.$secondary-color;
  border-bottom: none;
  border-left: 1px solid base.$secondary-color;
  transition: 0.25s;
  background: none;
  padding: 6px 24px;
} */
/* button:hover {
  color: base.$primary-color;
} */
.shipImage {
  display: flex;
  border-radius: 2px;
}

.mainDetails {
  display: flex;
}

.shipDetails {
  flex: 1;
  list-style-type: none;
  padding: 2px;
  font-size: 14px;
}

.shipDetailsList {
  flex: 1;
  list-style-type: none;
  padding: 2px;
  font-size: 12px;
}

.moreInfo {
  color: rgb(125, 130, 132);
  background: linear-gradient(0deg, rgb(17, 23, 21) 0%, rgb(28, 38, 34) 100%);
  border: none;
  transition: 0.25s;
  border-radius: 2px;
}

.moreInfo:hover {
  color: rgb(181, 248, 84);
  background: linear-gradient(0deg, rgb(17, 23, 21) 0%, rgb(28, 38, 34) 100%);
}

:root {
  background-color: rgb(17, 23, 21);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

/*# sourceMappingURL=style.css.map */
