@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comme:wght@300;400;700&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

body {
  font-family: "Comme", sans-serif;
}

h1 {
  font-family: "KoHo", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.1;
}

h2 {
  font-family: "KoHo", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

p {
  font-family: "Comme", sans-serif;
  font-size: 1rem;
}

button {
  font-family: "KoHo", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  background: none;
  border: none;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 23.4375rem) {
  .welcome-container {
    margin: 0 1.25rem;
  }
}
@media (min-width: 40rem) {
  .welcome-container {
    margin: 0 2.5rem;
  }
}
@media (min-width: 48rem) {
  .welcome-container {
    margin: 0 3.75rem;
  }
}
@media (min-width: 64rem) {
  .welcome-container {
    margin: 0 3.75rem;
  }
}
@media (min-width: 80rem) {
  .welcome-container {
    margin: 0 5rem;
  }
}
@media (min-width: 96rem) {
  .welcome-container {
    margin: 0 6rem;
  }
}

.introText {
  color: rgb(75, 213, 238);
  max-width: 31rem;
  margin-top: 3rem;
  text-shadow: 0 0 0.5rem rgb(75, 213, 238);
}
@media (min-width: 23.4375rem) {
  .introText {
    font-size: 2rem;
  }
}
@media (min-width: 40rem) {
  .introText {
    font-size: 2rem;
  }
}
@media (min-width: 48rem) {
  .introText {
    font-size: 2.5rem;
  }
}
@media (min-width: 64rem) {
  .introText {
    font-size: 3rem;
  }
}
@media (min-width: 80rem) {
  .introText {
    font-size: 3rem;
  }
}
@media (min-width: 96rem) {
  .introText {
    font-size: 3rem;
  }
}

.welcome-button {
  text-decoration: none;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 8px;
  color: rgb(241, 241, 241);
  background-color: rgb(28, 38, 34);
  transition: 0.25s;
}

.welcome-button:hover {
  color: rgb(28, 38, 34);
  background-color: rgb(181, 248, 84);
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 23, 21, 0.7);
  z-index: 9999;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;
  gap: 6px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(241, 241, 241);
  padding: 32px;
  border-radius: 8px;
}
.modal h2 {
  color: rgb(125, 130, 132);
  margin: 8px;
  padding: 8px;
}
.modal label {
  color: rgb(181, 183, 183);
  font-size: 0.75rem;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.closeButton {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: rgb(181, 183, 183);
  --svg: url("../assets/light-sabers.svg");
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  transition-duration: 0.4s;
  position: absolute;
  top: 16px;
  right: 16px;
}
.closeButton:hover {
  background-color: rgb(28, 38, 34);
  scale: 0.9;
  cursor: pointer;
}

.inputValues {
  background-color: rgb(181, 183, 183);
  border-radius: 2px;
  border: none;
  line-height: 32px;
  padding: 0 16px;
  transition: border-color 0.3s ease;
}

.modalButton {
  color: rgb(181, 248, 84);
  background: rgb(28, 38, 34);
  box-shadow: 2px 2px 2px 1px rgba(7, 23, 21, 0.7);
  border: none;
  transition: 0.25s;
  border-radius: 4px;
  padding: 8px 16px;
}
.modalButton:hover {
  color: rgb(28, 38, 34);
  background: rgb(181, 248, 84);
  box-shadow: none;
}

.error {
  font-size: 0.75rem;
  color: rgb(245, 59, 87);
}

header {
  display: flex;
  align-items: center;
  position: relative;
}
@media (min-width: 23.4375rem) {
  header {
    margin: 0 1.25rem;
    flex-direction: column;
  }
}
@media (min-width: 40rem) {
  header {
    margin: 0 2.5rem;
    flex-direction: column;
  }
}
@media (min-width: 48rem) {
  header {
    margin: 0 3.75rem;
    flex-direction: row;
  }
}
@media (min-width: 64rem) {
  header {
    margin: 0 3.75rem;
    flex-direction: row;
  }
}
@media (min-width: 80rem) {
  header {
    margin: 0 5rem;
    flex-direction: row;
  }
}
@media (min-width: 96rem) {
  header {
    margin: 0 6rem;
    flex-direction: row;
  }
}

.brand {
  max-height: 80px;
  margin: 1rem auto;
}

.loginSignin {
  color: rgb(125, 130, 132);
  background: none;
  border: none;
  transition: 0.25s;
}
@media (min-width: 23.4375rem) {
  .loginSignin {
    position: relative;
    margin: 1rem;
  }
}
@media (min-width: 40rem) {
  .loginSignin {
    position: relative;
    margin: 1rem;
  }
}
@media (min-width: 48rem) {
  .loginSignin {
    position: absolute;
    right: 0;
    margin: 0px;
  }
}
@media (min-width: 64rem) {
  .loginSignin {
    position: absolute;
    right: 0;
    margin: 0px;
  }
}
@media (min-width: 80rem) {
  .loginSignin {
    position: absolute;
    right: 0;
    margin: 0px;
  }
}
@media (min-width: 96rem) {
  .loginSignin {
    position: absolute;
    right: 0;
    margin: 0px;
  }
}
.loginSignin::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background-color: currentColor;
  --svg: url("../assets/rebel-user.svg");
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  transition-duration: 0.4s;
  vertical-align: bottom;
}
.loginSignin:hover {
  color: rgb(181, 248, 84);
}

nav {
  display: flex;
  height: 38px;
  border-top: 1px solid rgb(125, 130, 132);
  border-bottom: 1px solid rgb(125, 130, 132);
  justify-content: center;
}

.navLink {
  position: relative;
  text-decoration: none;
  height: 38px;
  color: rgb(181, 183, 183);
  background: transparent;
  padding-left: 18px;
  padding-right: 18px;
}

.navLink::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 0px;
  transition: all 0.25s;
  box-shadow: 0px 0px 4px 1px rgb(181, 248, 84);
  opacity: 0;
}

.navLink:hover::after {
  opacity: 1;
}

.loading {
  color: rgb(181, 248, 84);
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
@media (min-width: 23.4375rem) {
  main {
    margin: 1rem 1.25rem;
  }
}
@media (min-width: 40rem) {
  main {
    margin: 1rem 2.5rem;
  }
}
@media (min-width: 48rem) {
  main {
    margin: 1rem 3.75rem;
  }
}
@media (min-width: 64rem) {
  main {
    margin: 1rem 3.75rem;
  }
}
@media (min-width: 80rem) {
  main {
    margin: 1rem 5rem;
  }
}
@media (min-width: 96rem) {
  main {
    margin: 1rem 6rem;
  }
}

.shipCards {
  width: 100%;
  border-radius: 4px;
  background-color: rgb(28, 38, 34);
  padding: 0.5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}
@media (min-width: 48rem) {
  .shipCards {
    width: calc(50% - 0.5rem);
  }
}

.shipInfo {
  display: flex;
  gap: 0.5rem;
}

.shipName {
  color: rgb(125, 130, 132);
  font-size: 0.875rem;
  font-weight: 700;
}

.shipModel {
  color: rgb(75, 213, 238);
  font-size: 0.75rem;
}

.shipImage {
  display: flex;
  width: 100%;
  border-radius: 4px;
  margin: 1rem 0rem;
}

.mainDetails {
  display: flex;
  color: rgb(241, 241, 241);
  font-size: 0.75rem;
  gap: 1rem;
}

.shipDetails {
  flex: 1;
  list-style-type: none;
  padding: 2px;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.shipDetailsList {
  color: rgb(181, 183, 183);
  flex: 1;
  list-style-type: none;
  padding: 2px;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1rem;
}

.moreInfo {
  color: rgb(125, 130, 132);
  background: linear-gradient(0deg, rgb(17, 23, 21) 0%, rgb(28, 38, 34) 100%);
  border: none;
  margin: 0.25rem 0.25rem;
  padding: 0.5rem 0.25rem;
  transition: 0.25s;
  border-radius: 2px;
}

.moreInfo:hover {
  color: rgb(181, 248, 84);
  background: linear-gradient(0deg, rgb(17, 23, 21) 0%, rgb(28, 38, 34) 100%);
}

:root {
  background-color: rgb(17, 23, 21);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

/*# sourceMappingURL=style.css.map */
