@use "../base";
@use "../base/breakpoints";

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.starryNight {
  flex: 1;
  background-image: linear-gradient(
      to bottom,
      rgba(28, 38, 34, 0.1),
      rgba(17, 23, 21, 0.9)
    ),
    url("../assets/starry-night.svg");
  background-size: 20%;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  @include breakpoints.xs {
    margin: 0 1.25rem;
  }

  @include breakpoints.sm {
    margin: 0 2.5rem;
  }

  @include breakpoints.md {
    margin: 0 3.75rem;
  }

  @include breakpoints.lg {
    margin: 0 3.75rem;
  }

  @include breakpoints.xl {
    margin: 0 5rem;
  }

  @include breakpoints.xxl {
    margin: 0 6rem;
  }
}

.introText {
  color: base.$highlight-color;
  max-width: 31rem;
  margin-top: 3rem;
  text-shadow: 0 0 0.5rem base.$highlight-color;

  @include breakpoints.xs {
    font-size: 2rem;
  }

  @include breakpoints.sm {
    font-size: 2rem;
  }

  @include breakpoints.md {
    font-size: 2.5rem;
  }

  @include breakpoints.lg {
    font-size: 3rem;
  }

  @include breakpoints.xl {
    font-size: 3rem;
  }

  @include breakpoints.xxl {
    font-size: 3rem;
  }
}

.welcome-button {
  display: inline-block;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 8px;
  background-color: base.$tertiary-color;
  transition: 0.25s;
  cursor: pointer;

  a {
    display: block;
    text-decoration: none;
    color: base.$primary-color;
  }

  &:hover,
  &:focus {
    background-color: base.$hover-color;
    a {
      color: base.$tertiary-color;
    }
  }
}

.warning-message {
  color: base.$danger-color;
}
